.md-48 {
    font-size: 36px;
    color: #888;
    border: 1px solid #d9d9d9;
    padding: 8px;
    border-radius: 100%;
  }

  .link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }